// colors
$primary-blue:#666CA3;
$primary-black:#13183F;
$primary-grey:#13183F;
$primary-pink: #F74780;
$secondary-light-pink:#FFA7C3;
$secondary-white:#FFFFFF;
$text-color: #000000;
// fonts
$main-font-family:'Plus Jakarta Sans';
$main-font-size: 2rem;
$h1:56px;
$h2:42px;
$h3:32px;
$Paragraph-large:24px;
$Paragraph-medium:18px;
$Paragraph-bold:16px;


